@import "../../styles/variables.scss";

.container-slideshow {
  height: 60vh;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.image-slideshow {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.3);
  transition: filter 0.3s ease-in-out;
  &.visible {
    filter: brightness(1);
  }
}

.container-buttons {
  position: absolute;
  display: flex;
  width: 100%;
  top: 50%;
  bottom: 50%;
  justify-content: space-between;
  align-items: center;
  &.uniquePicture {
    display: none;
  }
}

.button-slideshow {
  //top: 50%;
  //transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 20px;
}

.counter-pictures {
  position: absolute;
  background: red;
  bottom: 20px;
  //left: 50vh;
  left: 50%;
  right: 50%;
  color: $base-background-color;
  &.uniquePicture {
    display: none;
  }
  //text-indent: 50%;
}
