@import "../../styles/variables.scss";

.container-slideshow {
  height: 60vh;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.image-slideshow {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0);
  transition: filter 0.2s ease-in-out;
  &.visible {
    filter: brightness(1);
  }
}

.container-buttons {
  position: absolute;
  display: flex;
  width: 100%;
  top: 50%;
  bottom: 50%;
  justify-content: space-between;
  align-items: center;
  &.noCounter {
    display: none;
  }
}

.button-slideshow {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15vh;
  cursor: pointer;
  padding: 20px;
}

.counter-pictures {
  position: absolute;
  bottom: 20px;
  //left: 50vh;
  left: 50%;
  right: 50%;
  color: $base-background-color;
  &.noCounter {
    display: none;
  }
  //text-indent: 50%;
}

@media screen and (max-width: $responsive-mobile-max) {
  .container-slideshow {
    height: 10vh;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
  }

  .button-slideshow {
    font-size: 1vh;
  }
}
