@import "../../styles/variables.scss";

.collapse-about-container {
  display: flex;
  flex-direction: column;
  padding: 0vw 8vw;
}

@media screen and (max-width: $responsive-mobile-max) {
  .collapse-about-container {
    padding: 0px;
  }
}
