$base-background-color: #ffffff;

$secondary-color: #ff6060;

$footer-background-color: #000000;

$container-cards-color: #f6f6f6;

$transition-speed: 0.2s;

$font-width-small: 1.2vw;

$font-width-medium: 2.5vw;

$font-width-large: 4vw;

$responsive-mobile-max: 768px;
