@import "../../styles/variables.scss";

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
  padding: 50px;
  background-color: $container-cards-color;
  border-radius: 25px;
}

@media screen and (max-width: $responsive-mobile-max) {
  .gallery {
    display: flex;
    flex-direction: column;
    background-color: $base-background-color;
    padding: 0px;
  }
}
